a {
  color: #006eff;
}
body {
  max-width: 760px;
  margin: 24px auto;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  background-color: #e4e4e4;
}

h1 {
  margin-bottom: 10px;
}

img {
  width: 100%;
  display: block;
  margin: 12px 0;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

a:visited {
  color: #006eff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #797979;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #bdbdbd;
  font-weight: bold;
}
